<head th:fragment="common-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <script th:src="@{/JS/theme.js}"></script>
    <link rel="stylesheet" th:href="@{/CSS/theme.css}">
    <link rel="stylesheet" th:href="@{/CSS/base.css}">
    <link rel="stylesheet" th:href="@{/CSS/sidebar.css}">
    <link rel="stylesheet" th:href="@{/CSS/components.css}">
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css}">
</head>
