<!DOCTYPE html>
<html lang="en">
<body>
<nav th:fragment="navbar" class="navbar">
  <div class="navbar-left">
    <img th:src="@{/images/logo.png}" id="navbar-logo" alt="logo">
    <div class="navbar-divider"></div>
    <a href="/movies/create" class="navbar-link">Film</a> <!-- Vi kan bruge ' active' på navbar-link for bedre visualisering i fremtiden-->
    <a href="/screenings/create" class="navbar-link">Forestillinger</a>
    <a href="/program" class="navbar-link">Program</a>
  </div>

  <div class="navbar-right">
    <button class="theme-toggle" id="themeToggle" type="button" aria-label="Skift tema">
      ☾
    </button>

    <div class="employee-menu">
      <span class="employee-icon">♙</span>
      <span>Medarbejder</span>
      <span class="dropdown-arrow">⌄</span>
    </div>
  </div>
</nav>
</body>
</html>