<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<aside th:fragment="sidebar" class="sidebar">
    <h2>Medarbejderpanel</h2>
    <div class="sidebar-group">
        <button class="sidebar-item" onclick="toggleFilmMenu()"> <!-- Vi kan bruge ' active' på sidebar-item for bedre visualisering i fremtiden-->
            <span class="sidebar-icon">▣</span>
            <span>Film</span>
            <span class="sidebar-arrow" id="filmArrow">⌄</span>
        </button>

        <div class="sidebar-submenu" id="filmMenu">
            <a href="/movies/create" class="sidebar-subitem">Opret film</a>
            <a href="/movies/edit" class="sidebar-subitem">Se film</a>
        </div>
    </div>

    <a href="/screenings/create" class="sidebar-item">
        <span class="sidebar-icon">▣</span>
        <span>Forestillinger</span>
    </a>



    <a href="/program" class="sidebar-item">
        <span class="sidebar-icon">▣</span>
        <span>Program</span>
    </a>

    <a href="/settings" class="sidebar-item">
        <span class="sidebar-icon">⚙</span>
        <span>Indstillinger</span>
    </a>


</aside>
</body>
</html>