<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Se Film</title>
    <link rel="stylesheet" th:href="@{/CSS/base.css}">
    <link rel="stylesheet" th:href="@{/CSS/sidebar.css}">
    <link rel="stylesheet" th:href="@{/CSS/create-screening.css}">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="page-layout">

    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <main class="main-content screening-page">
        <section class="content-section screening-form-card">
            <div class="header">
                <h1>Film</h1>
            </div>

            <table >
                <thead>
                <tr>
                    <th>Titel</th>
                    <th>Beskrivelse</th>
                    <th>Genre</th>
                    <th>Varighed (min)</th>
                    <th>Skuespillere</th>
                    <th>Udgivelses år</th>
                    <th>Aldersgrænse</th>
                    <th>Handling</th>
                </tr>
                </thead>
                <tbody id="movie-list"></tbody>
            </table>
        </section>


        <section class="content-section screening-list-card" id="edit-section" hidden>
            <div class="header">
                <h2>Rediger film</h2>
            </div>

            <div class="table-container">
                <table id="movieTable">
                <form id="edit-form">
                    <input type="hidden" id="id">
                    <label>Titel <input id="title" required></label><br>
                    <label>Beskrivelse <input id="description"></label><br>
                    <label>Genre <input id="genre"></label><br>
                    <label>Varighed i minutter <input id="duration" type="number" min="0"></label><br>
                    <label>Skuespillere <input id="actors"></label><br>
                    <label>Udgivelsesår <input id="releaseYear" type="number"></label><br>
                    <label>Aldersgrænse
                        <select id="ageLimit">
                            <option value="FROM_16">16+</option>
                            <option value="FROM_18">18+</option>
                        </select>
                    </label><br>
                    <button type="submit">Gem</button>
                    <button type="button" id="cancel">Annuller</button>
                </form>
                </table>
            </div>

        </section>
    </main>

</div>



<script th:src="@{/JS/EditMovies.js}"></script>
<script th:src="@{/JS/sidebar.js}"></script>


</body>
</html>